/* ============================================================ */
/*                           Footer                             */
/* ============================================================ */

footer {
  background-color: #4e555b;
  color: #fff;
  text-align: center !important;
}
