/* ============================================================ */
/*                           Footer                             */
/* ============================================================ */

footer li {
  display: inline;
  margin-left: 10px;
}

footer a {
  color: inherit;
}
