/* ============================================================ */
/*                           General                            */
/* ============================================================ */
body {
  font-family: monospace;
}

p {
  color: #505050;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 2;
  margin-bottom: 20px;
}

a {
  letter-spacing: 2px;
  text-decoration: none;
}

.main-section {
  padding-top: 20px;
}

.code{
  color: #e83e8c;
  font-family: 'Lato', cursive;
}

#main-doc li {
  color: #505050;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 2;
  margin-bottom: 20px;
}